/* Globals */
a {
  text-decoration: none;
  color: #009;
}

/* Header */
div.header {
  margin-top: 40px;
}
.header h1 {
  letter-spacing: -3px;
}
.header h1 a {
  color: #999;
  text-decoration: none;
}
.header img {
  float: right;
  margin-top: -40px;
  margin-right: 15px;
  width: 80px;
  height: 80px;
}
/* Main */
.main {
  font-family: Helvetica, Arial, sans-serif;
}
.main h2 {
  text-align:center;
  text-transform:lowercase;
  letter-spacing: 10px;
  font-size: 10px;
}
ul.posts li {
  list-style: none;
}
span.post_date {
  font-size: smaller;
  font-weight: bold;
  color: #999;
  display:block;
}
span.post_link {
  font-size: 24px;
  display:block;
  margin-left:20px;
  line-height: 100%;
}
h1.post_title {
  font-weight:bold;
}
div.post_content {
  margin-bottom: 50px;
}
div.signature {
  text-align: right;
  color: #999;
}
div.post_comments {
  margin-top: 50px;
}
div.main_wrapper {
  min-height:450px;
  height: auto !important;
  height: 450px;
}

/* Twitter and Code listing */
ul.list li {
  list-style-type: none;
  text-align: right;
  font-size: 11px;
}
ul.list h3, ul.list h3 a {
  color:#666;
}
#tweets li {
  margin-bottom: 10px;
}
span.tweet_text {
  display:block;
  text-align: left;
  word-wrap:break-word;
}
span.created_at {
  display:block;
  color:#999;
  font-size: 8px;
}

/* Footerstuff */
.footer {
  background-color: #eee;
  padding-bottom: 100px;
}
.footer h3 {
  margin:0;
  padding: 10px 0 10px 10px;
  color: #666;
}
ul.contacts {
  margin: 5px 0 0 0;
  padding: 0;
  color: #999;
}
ul.contacts li {
  list-style-type: none;
}
ul.contacts li.heading {
  font-weight: bold;
}
ul.contacts li.email {
  margin-top: 5px;
  font-weight: bold;
}
#pro_links {
/*  float: right;*/
}
#me_links {
/*  float:left;*/
}