---
layout: default
---
<h1 class="post_title">{{ page.title }}</h1>

<div class="post_content span-15 prepend-3">
  {{ content }}
  
  <div class="signature">-johnreilly</div>
  <div class="post_comments">
    <script type="text/javascript">var disqus_url = "http://johnreilly.github.com/{{ post.url }}"; var disqus_title ="{{ post.title }}";</script>
    <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/johnreilly-github/embed.js"></script>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>

